swig
gymnasium[box2d]
gymnasium[atari]
gymnasium[accept-rom-license]
gymnasium[other]
pyvirtualdisplay
huggingface-hub
huggingface-sb3
stable-baselines3
stable-baselines3[extra]
opencv-python
debugpy
